:root{
    --fondo-ligth:#fbf5f1;
    --fondo-dark: #282828;
    --color-negro: #000000;
    --color-negro-aux: #434343;
    --color-dark: #717171;
}

.mainPrincipal{
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    transition: background-color 0.3s ease;
    margin-top: 80px;
}

.ligth{
    background-color: var(--fondo-ligth);
}

.dark{
    background-color: var(--fondo-dark);
}